<!--
  templateType: page
  isAvailableForNewContent: true
  label:  Testemonials
-->
{% require_css %}
  <style>
  .itscontainer1 .topright, .itscontainer1 .topleft, .itscontainer1 .bottomright, .itscontainer1 .bottomleft{
  display:none;
}
ul {
    margin-top: 0px !important;
    margin-bottom: 20px !important;
}
.imateconta span div {
    padding-bottom: 0px !important;
}
.vid .imate {
    margin-bottom: 100px !important; 
}
.vid .imatext span {
    white-space: nowrap;
}
div#trv1 {
    background-color: #01256E;
    margin-top: 140px;
}
.revbox {
    height: 380px !important;
    width: 450px !important;
}
.aspas {
    height: 35px !important;
    margin-top: 30px !important;
}
.revcont {
    max-width: 1500px !important;
}
span.name {
    color: #1C3580;
}
span.jobtitle {
    color: #1C3580;
}
span.unternehmen {
    color: #1C3580;
}
#trv2 {
padding-top:0px;
}
  </style>
  {% end_require_css %}
{% extends "./layouts/base.html" %}

{% block body %}
<main id="main-content" class="body-container-wrapper">
  {% dnd_area 'dnd_area' class='body-container body-container--home solution-page legartis', label='Main section' %}
  

 
  {% end_dnd_area %}
</main>
{% endblock body %}
