<!--
  templateType: page
  isAvailableForNewContent: true
  label:  Testemonials
-->
{% require_css %}
  <style>
  .itscontainer1 .topright{
  display:none;
}
  .itscontainer1 .topleft {
  display:none;
}
ul {
    margin-top: 0px;
    margin-bottom: 20px;
}
  </style>
  {% end_require_css %}
{% extends "./layouts/base.html" %}

{% block body %}
<main id="main-content" class="body-container-wrapper">
  {% dnd_area 'dnd_area' class='body-container body-container--home solution-page legartis', label='Main section' %}
  

 
  {% end_dnd_area %}
</main>
{% endblock body %}
