<div class="footer-social-icons-wrapper">
  <h3>{{ module.section_title }}</h3>

  <ul class="socialmedia">
    {% for item in module.icon %}
    <li>
      {% set href = item.icon_link.url.href %}
      {% if item.icon_link.url.type is equalto "EMAIL_ADDRESS" %}
      {% set href = "mailto:" + href %}
      {% endif %}
      {% set rel = [] %}
      {% if item.icon_link.no_follow %}
      {% do rel.append("nofollow") %}
      {% endif %}
      {% if item.icon_link.open_in_new_tab %}
      {% do rel.append("noopener") %}
      {% endif %}
      <a href="{{ href }}" {% if item.icon_link.open_in_new_tab %}target="_blank"{% endif %} {% if rel %}rel="{{ rel|join(" ") }}"{% endif %} title="{{ item.icon_name|capitalize }}">
        <i class="fab fa-{{ item.icon_name|replace(' ','-') }}"></i>
      </a>
    </li>
    {% endfor %}
  </ul>
</div>